* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: black;
  color: white;
}

/* extra small screens mobile devices */

@media screen and (max-width: 575px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  body {
    background-color: rgb(0, 0, 0);
    color: white;
  }

  .header {
    width: 100%;
    min-width: 340px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.9)),
      url(./images/header-image.png);
    background-size: 180% 110%;

    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    width: 90%;
    margin: auto;
  }

  #logo {
    width: 80px;
    cursor: pointer;
  }

  #signIn button {
    border: 0;
    outline: 0;
    background: #e50914;
    color: #fff;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
  }

  #signIn button:hover {
    background-color: #bd0912;
  }

  .header-hero {
    margin: 40px auto;
    width: 90%;
    text-align: center;
    padding: 2px;
  }

  .header-hero h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 0;
  }

  .header-hero h3 {
    margin: 18px auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 80%;
  }

  .email-signup-top {
    margin: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 70%;
    text-align: center;
  }

  .email-signup {
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  .email-input {
    margin-top: 15px;
    width: 100%;
    transition: all 0.3s ease;
  }

  .email-signup input {
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 18px 10px;
    color: white;
    width: 95%;
  }

  .email-signup input::placeholder {
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 10px;
  }

  .email-signup button {
    background-color: #e50914;
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 4px;
    min-width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .email-signup button img {
    color: white;
  }

  .email-signup button:hover {
    background-color: #bd0912;
  }

  .spacer {
    background-color: rgb(47, 47, 47);
    height: 1vh;
  }

  /* header ends here */

  .features {
    width: 100%;
  }

  .row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px 12%;
  }

  .row:nth-child(3),.row:nth-child(7){
    flex-direction: column-reverse;
  }

  .text-col {
    flex-basis: 50%;
    margin-bottom: 20px;
  }
  
  .img-col {
    flex-basis: 50%;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
  }

  .img-col img {
    display: block;
    width: 90%;
    margin: auto;
  }

  .features h2{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
  }

  .features p{
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  
  }

  .img-col .motion video {
    position: absolute;
    top: 0;
    left: 17%;
    width: 66%;
    height: 95%;
    z-index: -1;
  }

  .img-col .motion {
    width: 100%;
    height: 100%;
  }

  .img-col img#download-icon {
    width: 10%;
    position: absolute;
    top: 65%;
    left: 67%;
  }

  /* features ends here */

  .faq {
    padding: 10px 5%;
    text-align: left;
    font-size: 18px;
    width: 100%; 
  }

  .faq h2 {
    text-align: center;
    margin: 50px 0 20px 0;
    font-size: 28px;
    font-weight: 700;
  }

  .accordion {
    width: 100%;
    overflow-wrap: normal;
    margin-bottom: 35px;
  }

  .accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
  }

  .accordion li label {
    display: flex;
    align-items: center;
    padding: 24px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
  }

  label::after {
    content: "+";
    font-size: 24px;
    position: absolute;
    right: 6%;
    transition: transform 0.1s;
  }

  input[type="radio"] {
    display: none;
  }

  .accordion .accordion-content {
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.8s;
  }
  .accordion-content p {
    line-height: 30px;
  }

  .accordion-content p:nth-child(1) {
    margin-bottom: 20px;
  }

  .accordion input[type="radio"]:checked + label + .accordion-content {
    max-height: 600px;
    padding: 30px 20px;
  }

  .accordion input[type="radio"]:checked + label::after {
    transform: rotate(135deg);
  }

  /*  accordion ends here */

}

/*large screen desktops  */
@media only screen and (min-width: 1200px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  body {
    background-color: black;
    color: white;
  }

  .header {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(./images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 15%;
    height: 90vh;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  #logo {
    width: 150px;
    cursor: pointer;
  }

  #signIn button {
    border: 0;
    outline: 0;
    background: #e50914;
    color: #fff;
    padding: 7px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
  }

  #signIn button:hover {
    background-color: #bd0912;
  }

  .header-hero {
    margin-top: 25vh;
  }

  .header-hero h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
  }

  .header-hero h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
  }

  .email-signup-top {
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
  }

  .email-signup {
    border-radius: 4px;
    display: flex;
    align-items: center;
    /* overflow: hidden; */
    margin: auto;
    margin-bottom: 50px;
    width: 150px;
    justify-content: center;
    flex-direction: row;
    /* flex-wrap: wrap; */
  }

  .email-signup input {
    border: 0.2 solid grey;
    border-radius: 6px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 18px 10px;
    color: white;
    width: 400px;
  }

  .email-signup input::placeholder {
    font-size: 16px;
    font-weight: 600;
  }

  .email-input {
    transition: all 0.3s ease;
  }

  .email-signup button {
    background-color: #e50914;
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 15px 24px;
    margin-left: 5px;
    border-radius: 4px;
    min-width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .email-signup button img {
    color: white;
  }

  .email-signup button:hover {
    background-color: #bd0912;
  }

  .spacer {
    background-color: rgb(47, 47, 47);
    height: 1vh;
  }

  /* End of Header */

  .features {
    font-size: 22px;
  }

  .row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 12%;
  }

  .text-col {
    flex-basis: 50%;
    margin-bottom: 20px;
  }
  .img-col {
    flex-basis: 50%;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
  }

  .img-col img {
    display: block;
    width: 90%;
    margin: auto;
  }

  .features h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .img-col .motion video {
    position: absolute;
    top: 0;
    left: 17%;
    width: 66%;
    height: 95%;
    z-index: -1;
  }

  .img-col .motion {
    width: 100%;
    height: 100%;
  }

  .img-col img#download-icon {
    width: 10%;
    position: absolute;
    top: 65%;
    left: 67%;
  }

  /* features ends here  */
  .faq {
    padding: 10px 12%;
    text-align: left;
    font-size: 18px;
    width: 100%;
  }

  .faq h2 {
    text-align: center;
    margin: 50px 0 20px 0;
    font-size: 50px;
    font-weight: 700;
  }

  .accordion {
    width: 100%;
    overflow-wrap: normal;
    margin-bottom: 35px;
  }

  .accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
  }

  .accordion li label {
    display: flex;
    align-items: center;
    padding: 24px;
    font-size: 24px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
  }

  label::after {
    content: "+";
    font-size: 44px;
    position: absolute;
    left: 94%;
    transition: transform 0.1s;
  }

  input[type="radio"] {
    display: none;
  }

  .accordion .accordion-content {
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.4s;
  }
  .accordion-content p {
    line-height: 30px;
  }

  .accordion-content p:nth-child(1) {
    margin-bottom: 20px;
  }

  .accordion input[type="radio"]:checked + label + .accordion-content {
    max-height: 600px;
    padding: 30px 20px;
  }

  .accordion input[type="radio"]:checked + label::after {
    transform: rotate(135deg);
  }

  /*  accordion ends here */

  .footerlinks {
    width: 75%;
    margin: auto;
    padding-bottom: 30px;
  }
  .footer-head {
    margin-top: 60px;
  }

  .footer-head a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 200;
    padding: 12px 0;
  }

  .linkList {
    align-self: center;
    margin: auto;
    width: 100%;
  }

  ul.footerGrid {
    display: grid;
    grid-template-columns: repeat(
      3,
      auto
    ); /* 5 columns with 1fr equal width space relative to div width*/
    grid-template-rows: repeat(
      5,
      1fr
    ); /* 3 rows, 'auto' to adjust to content height */
    gap: auto; /* Adjust the gap between items as needed */
    row-gap: 10px;
    margin-bottom: 40px;
  }

  .linkList ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 30px 0;
    /* Remove default margin */
  }

  .linkList li {
    text-align: left; /* Center the content horizontally */
  }

  .linkList li a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
  }

  .language {
    display: inline-block;
    width: 100%;
    max-width: 126px;
    max-height: 32px;
    margin-bottom: 30px;
    position: relative;
  }

  .lang-items {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    border: 0.1px solid grey;
    border-radius: 6px;
    padding: 2px 10px;
  }

  .language select {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 16px;
  }

  .language select:focus {
    min-width: 80px;
    width: auto;
  }

  .location p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}
